<%- include('../partials/userpartials/userHeader') %>
    <!-- Header part end-->

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Detail Page</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="/img/product/single-product/product_1.png">
                <img src="/img/product/single-product/product_1.png" />
              </div>
              <div data-thumb="/img/product/single-product/product_1.png">
                <img src="/img/product/single-product/product_1.png" />
              </div>
              <div data-thumb="/img/product/single-product/product_1.png">
                <img src="/img/product/single-product/product_1.png" />
              </div>
              <div data-thumb="/img/product/single-product/product_1.png">
                <img src="/img/product/single-product/product_1.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h5>previous <span>|</span> next</h5>
            <h3><%= product.name %></h3>
            <h2>Rs.<%=product.price%></h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> :  <%= product.category.name %></a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
              <%= product.description %>
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div>
              <a href="/cart/<%=product._id%>" class="btn_3"  onclick="addToCart('<%=product._id%>')"
                style="color: white"
                >Add to Cart</a>
              <!-- <a href="#" class="like_us"> <i class="ti-heart"></i> </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->
  <script>
    function addToCart(productId) {
      console.log(productId);
      $.ajax({
        url: "/add-to-cart/" + productId,
        method: "post",
        success: (response) => {
          console.log(response);
          if (response.status) {
            let count = $("#cart-count").html();
            console.log(count);
            count = parseInt(count) + 1;
            $("#cart-count").html(count);
            swal("Product added to Cart", { icon: "success" });
          } else if (response.existingProduct) {
            // let count = $('#cart-count').html();
            // console.log(count);
            // count = parseInt(count)+1;
            // $('#cart-count').html(count);
            swal("Product already exists in cart");
          } else {
            swal("You need to login first for adding product to cart", {
              buttons: {
                cancel: "Cancel",
                catch: { text: "Login", value: "catch" },
              },
            }).then((value) => {
              switch (value) {
                case "catch":
                  window.location = "/login";
                  break;
              }
            });
          }
        },
      });
    }
    </script>

 
<%- include('../partials/userpartials/userFooter') %>