<%- include('../partials/userpartials/userHeader') %>
  <!-- Header part end-->

  <!-- banner part start-->
  <section class="banner_part">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="banner_slider owl-carousel">
            <div class="single_banner_slider">
              <div class="row">
                <div class="col-lg-5 col-md-8">
                  <div class="banner_text">
                    <div class="banner_text_iner">
                      <h1>Wood & Cloth
                        Sofa</h1>
                      <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                        suspendisse ultrices gravida. Risus commodo viverra</p>
                      <a href="#" class="btn_2">buy now</a>
                    </div>
                  </div>
                </div>
                <div class="banner_img d-none d-lg-block">
                  <img src="img/banner_img.png" alt="">
                </div>
              </div>
            </div>
            <div class="single_banner_slider">
              <div class="row">
                <div class="col-lg-5 col-md-8">
                  <div class="banner_text">
                    <div class="banner_text_iner">
                      <h1>Cloth & Wood
                        Sofa</h1>
                      <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                        suspendisse ultrices gravida. Risus commodo viverra</p>
                      <a href="#" class="btn_2">buy now</a>
                    </div>
                  </div>
                </div>
                <div class="banner_img d-none d-lg-block">
                  <img src="img/banner_img.png" alt="">
                </div>
              </div>
            </div>
            <div class="single_banner_slider">
              <div class="row">
                <div class="col-lg-5 col-md-8">
                  <div class="banner_text">
                    <div class="banner_text_iner">
                      <h1>Wood & Cloth
                        Sofa</h1>
                      <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                        suspendisse ultrices gravida. Risus commodo viverra</p>
                      <a href="#" class="btn_2">buy now</a>
                    </div>
                  </div>
                </div>
                <div class="banner_img d-none d-lg-block">
                  <img src="img/banner_img.png" alt="">
                </div>
              </div>
            </div>
            <!-- <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth $ Wood Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div> -->
          </div>
          <div class="slider-counter"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part start-->

 

  <!-- product_list start-->
  <section class="product_list section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2 class="text-center">Awesome products</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="product_list_slider owl-carousel">
            <div class="single_product_list_slider">
              <div class="row align-items-center justify-content-between">
             
                <% for(let product of allProducts){ %>
                <div class="col-lg-3 col-sm-6">
                  <div class="single_product_item">
                    <a href="/detailPage/<%=product._id%>">
                    <img src="<%= product.images[0]?.url %>" alt=""></a>
                    <div class="single_product_text">
                      <h4><%= product.name %></h4>
                      <h3>₹<%= product.price %></h3>
                      <a onclick="addToCart('<%=product._id%>')" class="add_cart"><button class="btn btn-primary">Add to cart</button> <i class="ti-heart"></i></a>
                    </div>
                  </div>
                </div>
                <% } %>


              </div>
            </div>
            <!-- <div class="single_product_list_slider">
              <div class="row align-items-center justify-content-between">
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product_list part start-->
  <script>
    function addToCart(productId) {
      console.log(productId);
      $.ajax({
        url: "/add-to-cart/" + productId,
        method: "post",
        success: (response) => {
          console.log(response);
          if (response.status) {
            let count = $("#cart-count").html();
            console.log(count);
            count = parseInt(count) + 1;
            $("#cart-count").html(count);
            swal("Product added to Cart", { icon: "success" });
          } else if (response.existingProduct) {
            // let count = $('#cart-count').html();
            // console.log(count);
            // count = parseInt(count)+1;
            // $('#cart-count').html(count);
            swal("Product already exists in cart");
          } else {
            swal("You need to login first for adding product to cart", {
              buttons: {
                cancel: "Cancel",
                catch: { text: "Login", value: "catch" },
              },
            }).then((value) => {
              switch (value) {
                case "catch":
                  window.location = "/login";
                  break;
              }
            });
          }
        },
      });
    }
  
    // function addToWishlist(productId) {
    //   console.log(productId);
    //   $.ajax({
    //     url: "/add-to-wishlist/" + productId,
    //     method: "post",
    //     success: (response) => {
    //       console.log(response);
    //       if (response.status) {
    //         swal("Product added to wishlist", { icon: "success" });
    //       } else if (response.existingProduct) {
    //         swal("Product already exists in wishlist");
    //       } else {
    //         swal("You need to login first for adding product to wishlist", {
    //           buttons: {
    //             cancel: "Cancel",
    //             catch: { text: "Login", value: "catch" },
    //           },
    //         }).then((value) => {
    //           switch (value) {
    //             case "catch":
    //               window.location = "/login";
    //               break;
    //           }
    //         });
    //       }
    //     },
    //   });
    // }
  </script>
  
<!--::footer_part start::-->
  <%- include('../partials/userpartials/userFooter') %>